body {
     text-align: center;
     display: flex;
     flex-direction: column;
     /* flex-wrap: wrap; */
     /* justify-content: space-between; */
     align-items: center;
}

div {
     height: 100px;
     width: 400px;
     border: 2px solid #000000;
     font-weight: bold;
     font-size: 25px;
}