*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    ;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background: linear-gradient(135deg, #8052ec, #d161ff);
}

.container {
    width: 40%;
    min-width: 450px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    padding: 30px 40px;
}

#newTask {
    position: relative;
    background-color: #ffffff;
    padding: 30px 20px;
    border-radius: 5px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.44);
}


#newTask input {
    width: 70%;
    height: 45px;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    border: 2px solid #d1d3d4;
    padding: 12px;
    color: #111111;
    font-weight: 500;
    position: relative;
}

#newTask input:focus {
    outline: none;
    border-color: #8052ec;
}

#newTask button {
    position: relative;
    float: right;
    width: 20%;
    height: 45px;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 16px;
    background-color: #8052ec;
    border: none;
    color: #ffffff;
    cursor: pointer;
}


#tasks {
    background-color: #ffffff;
    padding: 30px 20px;
    margin-top: 60px;
    border-radius: 10px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.44);
    width: 100%;
    position: relative;
}

.task {
    background-color: #ffffff;
    height: 50px;
    padding: 5px 10px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid #d1d3d4;
    cursor: pointer;
}

.task span {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-weight: 400;
}

.task button {
    background-color: #1287e1;
    color: #ffffff;
    height: 100%;
    width: 40px;
    border-radius: 5px;
    border: none;
    outline: none;
    cursor: pointer;
}

.completed {
    text-decoration: line-through;
}